#calculator {
    border-style: solid;
    border-width: 1px;
    width: 525px;
}

#operators {
    margin: 5px 0px 5px 10px;
    display: flex;
    justify-content: center;
}

#result {
font-size: 45px;
font-weight: bold;
margin-top: 50px;
}

#calculate, #reset, input {
    height: 60px;
    width: 500px;
    font-size: 25px;
    text-align: center;
    margin: 10px 0px 10px 10px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: orange;
    color: black;
}

.opBut {
    height: 60px;
    width: 60px;
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: orange;
    color: black;
}

body {
    background-color: black;
    color: orange;
    font-family: sans-serif;
}

h1 {
    font-size: 60px;
}

.selectedButton {
    background-color: darkgoldenrod;
}

.selectedButton:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: black;
    text-align: center;
}

